.register-card {
  /* background-color: #eeeeee; */
  min-width: 20rem;
  max-width: 30rem;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.register-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.register-form {
  background-color: aqua;
}

.register-full-width {
  width: 100%;
}

.register-button {
  width: 50%;
}

.register-footer {
  font-size: small;
}

mat-form-field {
  margin: 0.5rem 0rem;
}
